<div class="row">

    <div class="col-md-6 text-left">
        <p class="hidden-xs pull-left nomargin padding20">
            {% include 'AppBundle:pagination:view_show_results.html.twig' %}
        </p>
    </div>

    <div class="col-md-6 responsive-text-center text-right">
        {{ knp_pagination_render(arrayData) }}
    </div>

</div>