{% extends 'AppBundle::base_front.html.twig' %}

{% block header %}
    {% include 'AppBundle:design:header_bar.html.twig' %}
{% endblock header %}

{% block body %}
    <!-- WRAPPER -->
    <div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">

        <div class="container">
            <h1>Derechos y responsabilidades</h1>
            <ul class="breadcrumb">
                {{ wo_render_breadcrumbs() }}
            </ul>
        </div>
    </header>

    <section class="container">

    <h2>Declaración de derechos y responsabilidades</h2>

    <p>
        Esta Declaración de derechos y responsabilidades (en lo sucesivo, "Declaración", "Condiciones" o "DDR") tiene su
        origen en los principios de GINA y contiene las condiciones de servicio que rigen nuestra relación con los
        usuarios y con todos aquellos que interactúan con GINA. Al utilizar o acceder a los servicios de GINA, muestras
        tu conformidad con esta Declaración, que se actualiza periódicamente.
    </p>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Privacidad</h2>

    <p>
        Tu privacidad es muy importante para nosotros. Hemos diseñado nuestra política de datos para ayudarte a
        comprender cómo puedes utilizar GINA para compartir contenido con otras personas y cómo recopilamos y podemos
        utilizar tu contenido e información.
    </p>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Compartir el contenido y la información</h2>

    <p>
        Eres el propietario de todo el contenido y la información que publicas en GINA y puedes controlar cómo se
        comparte a través de la configuración de la privacidad y de las aplicaciones. Además:
    </p>
    <ul>
        <li>
            En relación con el contenido y la información, queda totalmente prohibido el uso de material pornográfico de
            cualquier índole, contenido o comentarios obscenos o que amenacen la vida de otro persona.
        </li>
        <li>
            En relación con el contenido y la información, queda totalmente prohibido el uso de material pornográfico de
            cualquier índole, contenido o comentarios obscenos o que amenacen la vida de otro persona.
        </li>
        <li>
            Cuando publicas contenido o información, significa que permites que todos tus amigos, accedan y usen dicha
            información y la asocien a ti (por ejemplo, tu nombre y foto del perfil).
        </li>
        <li>
            Siempre valoramos tus comentarios y sugerencias acerca de GINA, pero debes entender que podríamos
            utilizarlos sin obligación de compensarte por ello (del mismo modo que tú no tienes obligación de
            ofrecerlos).
        </li>
    </ul>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Seguridad</h2>

    <p>
        Hacemos todo lo posible para hacer que GINA sea un sitio seguro, pero no podemos garantizarlo. Necesitamos tu
        ayuda para que así sea, lo que implica los siguientes compromisos de tu parte:
    </p>

    <ul>
        <li>
            No publicarás comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en GINA.
        </li>
        <li>
            No recopilarás información o contenido de otros usuarios ni accederás a GINA utilizando medios automáticos
            (como harvesting bots, robots, arañas o scrapers).
        </li>
        <li>
            No participarás en marketing multinivel ilegal, como el de tipo piramidal, en GINA.
        </li>
        <li>
            No subirás virus ni código malintencionado de ningún tipo.
        </li>
        <li>
            No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro usuario.
        </li>
        <li>
            No molestarás, intimidarás ni acosarás a ningún usuario.
        </li>
        <li>
            No publicarás contenido que resulte hiriente, intimidatorio, pornográfico, que incite a la violencia o que
            contenga desnudos o violencia gráfica o injustificada.
        </li>
        <li>
            No utilizarás GINA para actos ilícitos, engañosos, malintencionados o discriminatorios.
        </li>
        <li>
            No realizarás ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento correcto o al
            aspecto de GINA, como un ataque de denegación de servicio o la alteración de la presentación de páginas u
            otra funcionalidad de GINA.
        </li>
        <li>
            No facilitarás ni fomentarás el incumplimiento de esta Declaración o nuestras políticas.
        </li>
    </ul>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Seguridad de la cuenta y registro</h2>

    <p>
        Los usuarios de GINA proporcionan sus nombres e información reales y necesitamos tu colaboración para que siga siendo así. Estos son algunos de los compromisos que aceptas en relación con el registro y mantenimiento de la seguridad de tu cuenta:
    </p>

    <ul>
        <li>
            No crearás más de una cuenta personal.
        </li>
        <li>
            Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.
        </li>
        <li>
            No utilizarás tu biografía personal para tu propio beneficio comercial.
        </li>
        <li>
            No utilizarás GINA si eres menor de 14 años.
        </li>
        <li>
            No utilizarás GINA si has sido declarado culpable de un delito sexual.
        </li>
        <li>
            Mantendrás la información de contacto exacta y actualizada.
        </li>
        <li>
            No compartirás tu contraseña, no dejarás que otra persona acceda a tu cuenta ni harás nada que pueda poner en peligro la seguridad de tu cuenta.
        </li>
        <li>
            No transferirás la cuenta a nadie sin nuestro consentimiento previo.
        </li>
    </ul>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Protección de los derechos de otras personas</h2>

    <ul>
        <li>
            Respetamos los derechos de otras personas y esperamos que tú hagas lo mismo.
        </li>
        <li>
            No publicarás contenido ni realizarás ninguna acción en GINA que infrinja o viole los derechos de otros o que viole la ley de algún modo.
        </li>
        <li>
            Podemos retirar cualquier contenido o información que publiques en GINA si consideramos que infringe esta Declaración o nuestras políticas.
        </li>
        <li>
            Si obtienes información de los usuarios, deberás obtener su consentimiento previo, dejar claro que eres tú (y no GINA) quien recopila la información y publicar una política de privacidad que explique qué datos recopilas y cómo los usarás.
        </li>
        <li>
            No publicarás los documentos de identificación ni información financiera delicada de nadie en GINA.
        </li>
    </ul>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Dispositivos móviles y de otros tipos</h2>

    <ul>
        <li>
            Actualmente ofrecemos nuestros servicios para dispositivos móviles de forma gratuita.
        </li>
        <li>
            Proporcionas tu consentimiento y todos los derechos necesarios para permitir que los usuarios sincronicen sus dispositivos con cualquier información que puedan ver en GINA.
        </li>
    </ul>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Enmiendas</h2>

    <p>
        Te avisaremos antes de realizar cambios importantes en estas condiciones y te daremos la oportunidad de revisar y hacer comentarios sobre las condiciones revisadas antes de que continúes utilizando nuestros servicios.
    </p>
    <p>
        Si realizamos cambios en las políticas, normas u otras condiciones a las que haga referencia esta declaración o que estén incorporadas en ella, lo indicaremos en la página principal.
    </p>
    <p>
        Tu uso continuado de los servicios de GINA, una vez notificados los cambios de nuestras condiciones, políticas o normas, supondrá tu aceptación de las condiciones, políticas o normas modificadas.
    </p>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Terminación</h2>

    <p>
        Si infringes la forma o el fondo de esta Declaración, creas riesgos de cualquier tipo para GINA o nos expones a posibles responsabilidades jurídicas, podríamos impedirte el acceso a GINA total o parcialmente. Te notificaremos por correo electrónico o la próxima vez que intentes acceder a tu cuenta.
    </p>

    <hr class="half-margins"/>
    <!-- separator -->

    <h2>Definiciones</h2>

    <p>
        Con "<strong>GINA</strong>" hacemos referencia a las funciones y los servicios que están disponibles a través de nuestro sitio web.
    </p>
    <p>
        El término "<strong>información</strong>" se refiere a los hechos y otra información sobre ti, incluidas las acciones que realizan los usuarios y las personas que, sin ser usuarios, interactúan con GINA.
    </p>
    <p>
        El término "<strong>contenido</strong>" se refiere a cualquier información que tú u otros usuarios publiques, proporciones o compartas utilizando GINA.
    </p>
    <p>
        El término "<strong>datos</strong>" o "datos de usuario" se refiere a los datos, incluidos el contenido o la información de un usuario, que otros pueden obtener de GINA.
    </p>
    <p>
        El término "<strong>publicar</strong>" significa publicar en GINA o proporcionar contenido de otro modo mediante GINA.
    </p>
    <p>
        Por "<strong>usar</strong>" se entiende utilizar, ejecutar, copiar, reproducir o mostrar públicamente, distribuir, modificar, traducir y crear obras derivadas.
    </p>

    </section>

    </div>
    <!-- /WRAPPER -->
{% endblock body %}

{% block footer %}
    {% include 'AppBundle:design:footer_bar.html.twig' %}
{% endblock footer %}