<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
    <!-- COVER IMAGE -->
    <img src="{{ asset(business.imgPublicity.path) }}" alt=""
         data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat"/>

    {#<div class="tp-caption customin customout"#}
         {#data-x="0"#}
         {#data-hoffset="0"#}
         {#data-y="center"#}
         {#data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 50%;"#}
         {#data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"#}
         {#data-speed="300"#}
         {#data-start="2000"#}
         {#data-easing="Power4.easeOut"#}
         {#data-endspeed="500"#}
         {#data-endeasing="Power4.easeIn"#}
         {#style="z-index: 1">#}
        {#<img src="{{ asset('bundles/app/assets/images/revolution_slider/layout01.png') }}" alt="">#}
    {#</div>#}

    <div class="tp-caption sft largepinkbg"
         data-x="0"
         data-y="60"
         data-speed="300"
         data-start="1200"
         data-easing="easeOutExpo">{{ business.name }}
    </div>

    <div class="tp-caption sft modern_big_redbg"
         data-x="0"
         data-y="140"
         data-width="100"
         data-speed="300"
         data-start="1300"
         data-easing="easeOutExpo">{{ business.slogan }}
    </div>

    {#<div class="tp-caption medium_text customin customout"#}
         {#data-x="0"#}
         {#data-y="200"#}
         {#data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"#}
         {#data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"#}
         {#data-speed="500"#}
         {#data-start="1600"#}
         {#data-easing="Power4.easeOut"#}
         {#data-endspeed="500"#}
         {#data-endeasing="Power4.easeIn"#}
         {#data-captionhidden="off"#}
         {#style="z-index: 2">#}
        {#Especializado en belleza con todo tipo se#}
        {#servicios para su <strong>cabello, su rostro,#}
            {#manos, pies y maquillaje</strong>.#}
    {#</div>#}
</li>