<li data-transition="incube-horizontal" data-slotamount="5" data-masterspeed="700">

    <!-- COVER IMAGE -->
    <img src="{{ asset(business.imgPublicity.path) }}" alt=""
         data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">

    <!-- LAYER NR. 1 -->
    <div class="tp-caption sft largepinkbg customout"
         data-x="0"
         data-y="60"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 8">{{ business.name }}
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption modern_big_redbg customout"
         data-x="0"
         data-y="140"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="300"
         data-start="1400"
         data-easing="easeOutExpo"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 9">{{ business.slogan }}
    </div>

    {#<!-- LAYER NR. 3 -->#}
    {#<div class="tp-caption medium_text customin customout"#}
         {#data-x="80"#}
         {#data-y="200"#}
         {#data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"#}
         {#data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"#}
         {#data-speed="500"#}
         {#data-start="1700"#}
         {#data-easing="Power4.easeOut"#}
         {#data-endspeed="500"#}
         {#data-endeasing="Power4.easeIn"#}
         {#data-captionhidden="off"#}
         {#style="z-index: 10">#}
        {#Especializado en comida <strong>rápida y bebidas</strong>,<br/>#}
        {#con la más excelente <strong>cocina y refinadas bebidas</strong>. <br/>#}
    {#</div>#}

    <!--
    <div class="tp-caption large_text sft"
         data-x="center"
         data-y="130"
         data-speed="300"
         data-start="1000"
         data-endspeed="500"
         data-easing="easeOutBack"><h1>ATROPOS</h1>
    </div>

    <div class="tp-caption large_text sft"
         data-x="center"
         data-y="260"
         data-speed="300"
         data-start="1700"
         data-endspeed="500"
         data-easing="easeOutBack"><h2>MULTIPURPOSE TEMPLATE</h2>
    </div>

    <div class="tp-caption large_text sft"
         data-x="center"
         data-y="360"
         data-customin="x:-150;y:-280;z:0;rotationX:-140;rotationY:-280;rotationZ:-220;scaleX:1.5;scaleY:0;skewX:57;skewY:60;opacity:0;transformPerspective:600;transformOrigin:120% 190%;"
         data-customout="x:-450;y:-430;z:-30;rotationX:90;rotationY:-290;rotationZ:-20;scaleX:1;scaleY:2.8;skewX:59;skewY:4;opacity:0;transformPerspective:600;transformOrigin:70% 0%;"
         data-speed="1500"
         data-endspeed="500"
         data-start="2700"
         data-endeasing="Bounce.easeOut"
         data-easing="Back.easeInOut">
      <a class="btn btn-primary btn-lg" target="_blank" href="#">BUY ATROPOS</a>
    </div>
    -->
</li>